/* 
    Camadas do css 
    Camada 1 - Geral
    Camada 2 - Telas operacionais (master e dev)
    Camada 3 - Específico do master
*/

/* Altera a cor de fundo para as páginas dev e master, camada 2 */
body{
    background-color: #fff;
}

/* Estiliza os links */
a{
    color: #eee;
    text-decoration: none;
}

/* Edição dos textos e títulos */
.title{
    vertical-align: middle;
    text-align: center;
    color: #333;
}
.text{
    color: #333;
    text-align: justify;
    margin-left: 15px;
}

/* Estilização dos inputs para a camada 2 */
.fields2{
    height:25px;
    width:30%;
    padding:10px;
    margin:10px 10px;
    border:none; /* Remover a borda do input*/
    border-radius:5px;
    box-shadow: 0 1px 2px 0 #333;
    background-color: transparent;
}

/* Classes de tamanho: grande, médio e pequeno, respectivamente */
.xl{
    width: 91%;
    height: 120px;
}
.md{
    width: 50%;
}
.s{
    width: 20%;
}