/* 
    Camadas do css 
    Camada 1 - Geral
    Camada 2 - Telas operacionais (master e dev)
    Camada 3 - Específico do master
*/

/* Index */

/* Definição de margem e cor de fundo */
body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #111;
}

/* Definição do layout grid para o index */
#main-wrap {
    display: grid;
    grid-template-areas: 'text' 'login';
    grid-template-rows: 15% 85%;
}

/* container para os três pontos */
.dots {
    display: inline-block;
    margin-left: 30px;
}

/* estilização das labels, cada uma com um tamanho diferente */
.dot1 {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.dot2 {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}
.dot3 {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: 5px;
}

/* Estilização do logo no index */
.text {
    grid-area: text;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    margin-top: 10%;
}

/* Configuração do formulário */
.login {
    grid-area: login;
    width: 270px;
    margin: 0px auto;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    margin-top: 5%;
}

/* Configuração dos fieldsets */
.fields {
    height: 30px;
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    /* Remover a borda do input*/
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #333;
}
.fields:focus {
    box-shadow: 0 0 5px 5px #888;
}
.select{
    height: 44px;
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    /* Remover a borda do input*/
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #333;
}
.reveal {
    color: #fff;
}
.label {
    cursor: pointer;
}

/* Estilização dos botões */
.btn {
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
  }
  /* Botão de envio */
  .submit{
      background-color: #4CAF50;
  }
  /* Botão de cancelamento */
  .cancel {
      background-color: #f44336;
  }  
  .btn:hover {
      opacity: 0.8;
  }
.send {
    height: 50px;
    width: 270px;
    margin-top: 15px;
    font-size: 20px;
    color: #333;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}
.send:hover {
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
    background-color: #333;
}

/* Definição do layout grid para master e dev */
#alt-wrap {
    display: grid;
    grid-template-areas: 'header header' 'nav content';
    grid-template-columns: 12% 88%;
    grid-template-rows: 12% 88%;
    height: 100vh
}

/* Estilização do logo */
.logo {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    height: 100%;
    width: 100%;
    background-color: #111;
    font-size: 25px;
}

/* Menu */
.side-menu {
    grid-area: nav;
    display: grid;
    background-color: #333;
    grid-template-rows: 1fr 1fr 1fr 6fr;
    height: 100%;
}
.side-menu a {
    padding: 50px 5px 5px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #eee;
    display: grid;
    transition: 0.3s;
}
.side-menu a:hover {
    box-shadow: 1px 1px 2px #fff;
}

/* Cards */
/* Container de cards */
.cards {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    color: #111;
}
/* cards em si */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    height: 150px;
    width: 250px;
    margin: 40px;
    background-color: #eee;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

/* Campo oculto para alteração */
/* Plano de fundo dos modais */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Conteudo do Modal */
.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 4% auto 15% 15%;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Centralizar a imagem no modal e posicionar o botão de fechar (x) */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    height: 120px;
    width: 300px;
    margin: 5px auto;
    border-radius: 15px;
    background-position: center;
    box-shadow: 0 1px 2px 0 #333;
}

/* Imagens de Usuário, Cliente e Ordem de Serviço, respectivamente */
.pic-user{
    background-image: url("../img/offspring.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.pic-cliente{
    background-image: url("../img/reaper.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.pic-os{
    background-image: url("../img/chocobo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Container de botões inferiores */
.container2 {
    padding: 16px;
    margin: 5px auto;
    width: 87%;
    border-radius: 5px;
}
span.psw {
    float: right;
    padding-top: 16px;
}

/* Botão de fechamento (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Animação de abertura do modal */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}