/* 
    Camadas do css 
    Camada 1 - Geral
    Camada 2 - Telas operacionais (master e dev)
    Camada 3 - Específico do master
*/

/* Imagem para o card de Usuário */
.usuario{
    height: 80px;
    width: 100px;
    margin: 0 auto;
    background-position: center;
    background-image: url("../img/offspring.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Imagem para o card dos Clientes */
.cliente{
    height: 80px;
    width: 100px;
    margin: 0 auto;
    background-position: center;
    background-image: url("../img/reaper.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Imagem para o card das OS */
.os{
    height: 80px;
    width: 100px;
    margin: 0 auto;
    background-position: center;
    background-image: url("../img/chocobo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Movimenta o select mais para a esquerda */
.select{
    margin-left: 10px;
}